/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'PassionOne-Regular', sans-serif;
}

/*fonts*/
@font-face {
    font-family: 'PassionOne-Regular';
    src: url(font/PassionOne-Regular.ttf);
}

html {
    font-size: 62.5%; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Common Styles */


.container {
    height: 100vh;
    background: url(images/arena.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* header */
.header {
    display: flex; 
    height: 6.62%;
    background: linear-gradient(to right, rgb(56, 3, 53),rgb(93, 7, 89), rgb(184, 36, 184),rgb(93, 7, 89) ,rgb(56, 3, 53));
    border-radius: 0.4rem;
    box-shadow: 0 0.3rem 0.5rem #000;
    padding: 0 5%;
}

/* left-part */
.header-left-part {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}

.cup-img {
    width: 6rem;
    height: 4.5rem;
    margin-right: 1rem;
    transition: filter 0.3s ease;
}

.cup-img:hover {
    cursor: pointer;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

.gladiator-img {
    width: 4rem;
    height: 3.5rem;
    margin: 0 1rem;
    transition: filter 0.3s ease;
}

.gladiator-img:hover {
    cursor: pointer;
    filter: brightness(110%);
    -webkit-filter: brightness(120%);
}

.line {
    width: 0.3rem;
    height: 4rem;
    background: linear-gradient(to right, rgb(80, 16, 77), rgb(31, 1, 29), rgb(56, 12, 54));
    border-radius: 50%;
    box-shadow: 0 0.1rem 0.6rem white;
    opacity: 0.7;
}
/* End of left-part */

/* Middle-part */
.logo {
    width: 40%;
}

.logo h1 {
    width: 100%;
    height: 100%;
}

.logo h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: rgb(56, 3, 53);;
    text-transform: uppercase;
    background-color: rgb(224, 185, 55);  /* */
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    text-shadow: 0 0.3rem 0.5rem rgb(184, 36, 184);
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem rgb(250, 247, 50)
}

.logo h1 span:nth-child(1){
    animation: drop-letters 5s 0.1s infinite;
}

.logo h1 span:nth-child(2){
    animation: drop-letters 5s 0.2s infinite;
}

.logo h1 span:nth-child(3){
    animation: drop-letters 5s 0.3s infinite;
}

.logo h1 span:nth-child(4){
    animation: drop-letters 5s 0.4s infinite;
}

.logo h1 span:nth-child(5){
    animation: drop-letters 5s 0.5s infinite;
}

.logo h1 span:nth-child(6){
    animation: drop-letters 5s 0.6s infinite;
}

.logo h1 span:nth-child(7){
    animation: drop-letters 5s 0.7s infinite;
}

@keyframes drop-letters {
    0%{transform: translateY(0);}
    10%{transform: translateY(0);}
    15%{transform: translateY(-100%);}
    20%{transform: translateY(0);}
    100%{transform: translateY(0);}
}
/* End of Middle-part */

/* Right-part */
.header-right-part {
    width: 30%;
    display: flex;
    justify-content: center;
}

.sword {
    width: 5.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: filter 0.3s ease;
}

.sword-img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(241, 89, 18, 0.986), rgb(214, 15, 15), rgba(128, 55, 21, 0.986));
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(47, 2, 46), -0.5rem -0.5rem 0.5rem rgb(47, 2, 46);
}

.sword:hover{
    filter: brightness(110%);
    -webkit-filter: brightness(110%);

}

.coins-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coins-wrapper {
    width: 20rem;
    height: 0.3rem;
    background: rgb(121, 121, 76);
    margin: 0.6rem 0;
    border-radius: 2rem;
}

.coin-bar {
    width: 20%;
    height: 100%;
    background: rgb(253, 253, 5);
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 1rem rgb(243, 239, 20), -0.1rem -0.1rem 1rem rgb(243, 239, 20);
}

.star {
    width: 1.5rem;
    height: 1.3rem;
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
    margin-left: 0.4rem;
}

.star:hover{
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

.coin {
    width: 2rem;
    height: 1.8rem;
    margin-left: 0.4rem;
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
}

.coin:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}
/* End of Right-part */


/* End of header */

.reels-container {
    height: calc(100% - 6.62%);
    padding: 7.5rem 7.3rem 0 8rem;
    background: inherit;
}

.reels-wrapper {
    width: 66%;
    height: 94%;
    box-shadow: 0rem 0rem 0.5rem 0 rgba(0,0,0);
    margin: 0 auto;
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 0.5rem;
    z-index: 1;
}

.reels-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 200rem 200rem 200rem inset rgba(0, 0, 0, 0.1);
    filter: blur(0.1rem);
    background: inherit;
    margin: -1rem;
    z-index: -1;
}

.heading {
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    color: yellow;
}

